@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Jekyll v3.8.6">
	<title>Autism Spectrum</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	@*<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">*@

	<!-- Favicons -->
	@*<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
		<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
		<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
		<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
		<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
		<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
		<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
		<meta name="theme-color" content="#563d7c">*@

	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
	<link rel="manifest" href="/static/favicons/manifest.json">
	<link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ef8935">
	<meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- Custom styles for this template -->
	@*<link href="album.css" rel="stylesheet">*@
	<link href="/static/main.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="collapse bg-dark" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4 class="text-white">About</h4>
						<p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
					</div>
					<div class="col-sm-4 offset-md-1 py-4">
						<h4 class="text-white">Contact</h4>
						<ul class="list-unstyled">
							<li><a href="#" class="text-white">Follow on Twitter</a></li>
							<li><a href="#" class="text-white">Like on Facebook</a></li>
							<li><a href="#" class="text-white">Email me</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<img src="~/static/logos/logo_desktop.png" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav justify-content-between ml-4">
						<li class="nav-item active">
							<a class="nav-link" href="#">Tour</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Enterprise</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Support</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pricing</a>
						</li>
					</ul>
				</div>
				<ul class="nav navbar-nav navbar-right ml-4">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/flags/flag_uk.png" class="img-fluid flag" /> English</a>
						<div class="dropdown-menu" aria-labelledby="dropdown09">
							<a class="dropdown-item" href="#"><img src="/static/flags/flag_swe.png" class="img-fluid flag" /> Swedish</a>
							<a class="dropdown-item" href="#"><img src="/static/flags/flag_pol.png" class="img-fluid flag" /> Polish</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	@*<img class="img-fluid" src="~/static/illustrations/consultation.png" />*@
	<div class="jumbotron jumbotron-fluid jumbotron-image-heading-container jumbotron-full-hight jumbotron-container d-flex" style="background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(/static/illustrations/consultation.png);">
		<div class="container-fluid jumbotron-content text-dark align-self-center">
			<h1 class="text-center jumbotron-header mb-4">Consultation and Outreach</h1>
		</div>
	</div>
	<main role="main">
		<div class="album py-5">
			<div class="container">
				<h2>
					<span class="random-font-color">supporting text below</span>
				</h2>
				<p>
					<i>
						This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
						This is a wider card with supporting text below as a natural lead-in to
					</i>
				</p>
				<p>
					This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					This is a wider card with supporting text below as a natural lead-in to This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					This is a wider card with supporting text below as a natural lead-in to This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					This is a wider card with supporting text below as a natural lead-in to
				</p>
			</div>
		</div>
	</main>
	@*<main role="main">
			<div class="album py-5">
				<div class="container">
					<h1>
						<span class="random-font-color">consultation and outreach</span>
					</h1>
					<p>
						<i>
							This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							This is a wider card with supporting text below as a natural lead-in to
						</i>
					</p>
					<p>
						This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
						This is a wider card with supporting text below as a natural lead-in to This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
						This is a wider card with supporting text below as a natural lead-in to This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
						This is a wider card with supporting text below as a natural lead-in to
					</p>
				</div>
			</div>
		</main>*@

	<!-- Footer -->
	<footer class="page-footer font-small blue pt-5">

		<!-- Footer Links -->
		<div class="container text-center text-md-left">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-md-3 mt-md-0 mt-3">
					<img src="~/static/logos/logo_desktop.png" width="25" />
					<div class="row">
						<div class="col-12">
							<small class="text-muted">© 2017 - 2019</small>
						</div>
					</div>
				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none pb-3">

				<!-- Grid column -->
				<div class="col-md-2 mb-md-0 mb-2">

					<!-- Links -->
					<h5 class="text-capitalize"><strong>Features</strong></h5>

					<ul class="list-unstyled">
						<li>
							<a href="#!">Cool stuff</a>
						</li>
						<li>
							<a href="#!">Random features</a>
						</li>
						<li>
							<a href="#!">Team features</a>
						</li>
						<li>
							<a href="#!">Stuff for developers</a>
						</li>
						<li>
							<a href="#!">Another one</a>
						</li>
						<li>
							<a href="#!">Last time</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 mb-md-0 mb-2">

					<!-- Links -->
					<h5 class="text-capitalize"><strong>Resources</strong></h5>

					<ul class="list-unstyled">
						<li>
							<a href="#!">Resource</a>
						</li>
						<li>
							<a href="#!">Resource name</a>
						</li>
						<li>
							<a href="#!">Another resource</a>
						</li>
						<li>
							<a href="#!">Final resource</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 mb-md-0 mb-2">

					<!-- Links -->
					<h5 class="text-capitalize"><strong>Resources</strong></h5>

					<ul class="list-unstyled">
						<li>
							<a href="#!">Businesse</a>
						</li>
						<li>
							<a href="#!">Education</a>
						</li>
						<li>
							<a href="#!">Goverment</a>
						</li>
						<li>
							<a href="#!">Gaming</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 mb-md-0 mb-2">

					<!-- Links -->
					<h5 class="text-capitalize"><strong>About</strong></h5>

					<ul class="list-unstyled">
						<li>
							<a href="#!">Team</a>
						</li>
						<li>
							<a href="#!">Location</a>
						</li>
						<li>
							<a href="#!">Privacy</a>
						</li>
						<li>
							<a href="#!">Terms</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->
	</footer>
	<!-- Footer -->
	@*<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<a href="#">Back to top</a>
				</p>
				<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
				<p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
			</div>
		</footer>*@
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
	<script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
	<script src="~/static/js/main.js"></script>
</body>
</html>