@font-face {
    font-family: 'sandbox_melodramaregular';
    src: url('./fonts/sandboxmelodrama-8ye0.woff2') format('woff2'), url('./fonts/sandboxmelodrama-8ye0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 .header-font {
    font-family: sandbox_melodramaregular;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card-title.header-font {
    font-family: sandbox_melodramaregular;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}



.pomegranate {
    color: #EF481E;
    
}

.governor {
    color: #353BAA;
}

.shamrock {
    color: #31D58E;
}

.burgundy {
    color: #BA3731;
}

.violet {
    color: #911AE5;
}

.jaffa {
    color: #EF8935;
}

.tainoi {
    color: #F5E430;
}

.apple {
    color: #35A334;
}

.lavender {
    color: #E68BE9;
}

.dodger {
    color: #2DA7F9;
}

.card-bg {
    background-color: #F7F6E7;
}





.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-light {
    background-color: #DDF2F1 !important;
}



@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Number of Cards by Row based on Viewport */
/*
            min-width: 50.1%; 1 Columns
            min-width: 33.4%; 2 Columns
            min-width: 25.1%; 3 Columns
            min-width: 20.1%; 4 Columns
        */
@media (min-width: 576px) {
    .card-deck .card {
        min-width: 33.4%;
        margin-bottom: 12px;
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        min-width: 33.4%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        min-width: 25.1%;
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        min-width: 25.1%;
    }
}